<header>
  <div class="left partial">
    <nav class="social">
      <ul>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/discord.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/x.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/instagram.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/youtube.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/twitch.png" />
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li></li>
        <li>
          <a href="#">Gaming</a>
        </li>
        <li>
          <a href="#">Music</a>
        </li>
        <li>
          <a href="#">Video</a>
        </li>
      </ul>
    </nav>
  </div>

  <img class="logo" src="/images/logo.png" />
  <div class="right partial">
    <nav>
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Community</a>
        </li>
        <li>
          <a href="#">Shop</a>
        </li>
      </ul>
    </nav>
    <app-button class="primary">
      <app-icon name="heart" class="black" />
      Support me
    </app-button>
  </div>
</header>
