<header>
  <div class="left partial">
    <nav class="social">
      <ul>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/discord.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/x.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/instagram.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/youtube.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img class="icon" src="images/icons/logos/twitch.png" />
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li></li>
        <li>
          <a href="#">{{ 'navigation.gaming' | i18n | async }}</a>
        </li>
        <li>
          <a href="#">{{ 'navigation.music' | i18n | async }}</a>
        </li>
        <li>
          <a href="#">{{ 'navigation.videos' | i18n | async }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <img class="logo" src="/images/logo.png" />
  <div class="right partial">
    <nav>
      <ul>
        <li>
          <a href="#">{{ 'navigation.about' | i18n | async }}</a>
        </li>
        <li>
          <a href="#">{{ 'navigation.community' | i18n | async }}</a>
        </li>
        <li>
          <a href="#">{{ 'navigation.shop' | i18n | async }}</a>
        </li>
      </ul>
    </nav>
    <app-button class="primary">
      <app-icon name="heart" class="black" />
      {{ 'navigation.support' | i18n | async }}
    </app-button>
  </div>
</header>
