@use 'mixins' as *;

:host {
  display: block;

  header {
    @include framed;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    padding: 0 var(--spacing-md);

    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-surface);
    height: 60px;

    & .partial {
      width: calc(50% - 90px);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & nav {
      & ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0;

        & li {
          & a {
            text-decoration: none;
            color: var(--color-text);
          }
        }
      }
      &.social {
        & ul {
          width: 160px;
          display: flex;
          gap: var(--spacing-xs);
          justify-content: space-between;
        }

        & .icon {
          width: 24px;
        }
      }
    }

    & .logo {
      height: 40px;
    }
  }
}
