@use 'mixins' as *;

:host {
  main {
    max-width: var(--content-max-width);
    margin: var(--spacing-md) auto 0;
  }

  app-header {
    margin-top: var(--spacing-sm);
  }

  @include compact-layout {
    app-header {
      margin-top: 0;
    }

    main {
      margin-top: var(--spacing-sm);
    }
  }
}
