# Dependencies

/node_modules

# Build output

/dist
/build
/out-tsc
/bazel-out

# Angular cache

/.angular/cache

# TypeScript build cache

*.tsbuildinfo

# Test output

/coverage
/.nyc_output
**screenshots**/

# Temporary files

/tmp
/.temp
/.tmp
.sass-cache/
/typings
/connect.lock

# Logs

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
testem.log
/libpeerconnection.log

# Environment files

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data

pids/
*.pid
*.seed
*.pid.lock

# Node diagnostic reports

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# IDEs and editors

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/
*.patch
*.diff


# Visual Studio Code

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# Operating system files

.DS_Store
Thumbs.db
