@use 'mixins' as *;

:host {
  display: block;

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
  }

  &.primary,
  &.secondary {
    @include framed(var(--control-border-width));

    padding: var(--spacing-xs) var(--spacing-sm);
    font-weight: 800;
  }

  &.primary {
    background-color: var(--color-primary);
  }

  &.secondary {
    color: var(--color-text);
  }

  &.round {
    border-radius: var(--radius-pill);
    padding: var(--spacing-xs) var(--spacing-md);
  }

  &.white {
    button {
      color: var(--color-text);
    }
  }
}
