:host {
  width: 24px;
  display: flex;

  &.black {
    fill: var(--color-text-inverse);
  }

  &.white {
    fill: var(--color-text);
  }

  &.primary {
    fill: var(--color-primary);
  }

  &.secondary {
    fill: var(--color-secondary);
  }

  &.small {
    width: 16px;
  }
}
