:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  margin-top: 160px;

  img {
    width: 160px;
    bottom: 30px;
  }

  footer,
  nav {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    & a {
      text-decoration: none;
      color: var(--color-text);
    }
  }
}
