<app-heart-background></app-heart-background>

<app-cloud-background
  src="/images/background/cloud-large.png"
  top="2%"
  width="300px"
  [duration]="420"
  [opacity]="0.58"
  [delay]="-70"
/>

<app-cloud-background
  src="/images/background/cloud-small.png"
  top="61%"
  width="235px"
  [duration]="280"
  [opacity]="0.72"
  [delay]="-150"
/>

<app-cloud-background
  src="/images/background/cloud-large.png"
  top="80%"
  width="265px"
  [duration]="170"
  [opacity]="0.78"
  [delay]="-90"
/>

<app-skyline-background></app-skyline-background>
<app-crystal-background></app-crystal-background>
